.header {
  width: 100%;
}
  
.header-top {
  background-color: #FFCB05;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}
  
.header-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
  
.header-track-icon, .header-contact-icon, .header-offer-icon{
  color: black;
  margin-left: 10px;
}

.header-bottom {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px 0px #0000000A;
}
  
.header-logo img {
  height: 50px;
}
  
.header-search {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  flex-grow: 1;
  margin: 0 25%;
  width: 507px;
  height: 48px;
}
  
.header-search input {
  border: none;
  outline: none;
  margin-left: 10px;
  background: none;
  width: 100%;
}
  
.header-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
  
.header-nav-item {
  display: flex;
  align-items: center;
  color: #000000; 
  margin-right: 10px;
}

.header-nav-titleLeft {
  display: flex;
  align-items: center;
  color: #000000; 
  margin-right: 10px;
} 

.header-user-icon, .header-shop-icon, .header-search-icon {
  color: #FFD700;
  margin-left: 10px;
}

.cart-count {
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  padding: 3px 8px;
  margin-left: 5px;
}

.header-nav-item span{
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-left: 5px;
  cursor: pointer;
}

.header-nav-titleLeft span{
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-left: 5px;
}
  